<div class="main-container">
    <div class="form-container">
        <mat-card>
            <mat-card-title>Equivalência de Ementas - UVA</mat-card-title>
            <mat-card-subtitle>Preencha os campos para verificar a equivalência entre as ementas.</mat-card-subtitle>
            <mat-card-content>
                  <mat-form-field>
                    <mat-label>Instituição</mat-label>
                    <input matInput>
                  </mat-form-field>

                  <mat-form-field>
                    <mat-label>Curso</mat-label>
                    <input matInput>
                  </mat-form-field>

                  <mat-form-field>
                    <mat-label>Disciplina</mat-label>
                    <mat-select>
                      <mat-option value="1">1</mat-option>
                      <mat-option value="2">2</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <button mat-button>Verificar</button>

            </mat-card-content>
        </mat-card>
    </div>
</div>